#User Info
#Once you update this, go check your contest files to make sure those exchanges are also correct!
mycall="VE3MAL"
myname="JAY"
mystate="ON"
myskcc=""
config_version=1

# you MUST include ONE contest config to set contest specific
# variables.  NOTE, anything set in the contest
# config will override settings in this file
#contest="./contests/default.cfg" #General QSOs
#contest="./contests/cwt.cfg"
contest="./contests/wfd.cfg"
#contest="./contests/mst.cfg"
#contest="./contests/cqwpx.cfg"


#LotW Info
# The password on your LotW cert (if none, leave as "")
certpass=""
# LotW QTH Name
lotw_station="Home"

#Rig Info
#rigctl device number (run rigctl -l to get a list)
rig="3073"
#Rig Device Info
userig="true"
# Uncommend for WfView's virtual serial port:
#rigdevice="/dev/pts/1"
# Uncomment for IC-7300 Direct serial connection:
rigdevice="/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_IC-7300_02040476-if00-port0"

#CW Keyer
usekeyer="false"
#Change kewwithhamlib to true to key using hamlib rather than cwkeyer.sh for
#rigs that support it (e.g., the IC-7300).
keywithhamlib="true"
#Change cwdevice if you have an external keyer. Otherwise, match radio
#cwdevice="/dev/ttyUSB0"
cwdevice="/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_IC-7300_02040476-if00-port0"

#
# DO NOT CHANGE THIS UNLESS YOU KNOW WHAT YOU ARE DOING
#
#additional options for rigctl
#rigoptions="--set-conf=dtr_state=OFF --set-conf=rts_state=OFF"
rigoptions="-s 115200 --set-conf=post_write_delay=200"

# modes we are working - cw will use the keyer, any other mode will not
# the array is zero indexed
modes=("CW" "SSB" "FT8")
mode_index=0
mode=${modes[0]}

# how you like to ask for a repeat
myagn="?"

# where is the rigctl command
rigctl="/usr/bin/rigctl"

# command to execute keyer
keyer="python keyer.py"

if [ -z ${station_call} ]
then
  station_call="$mycall"
fi

if [ "$mode" != "CW" ]
then
  usekeyer="false"
  cwdevice=""
fi
